body {
    margin: 0px;
    font-family: "Inter", sans-serif;
    background-color: #FFFDFA;
    color: #1A1D24;
    box-sizing: border-box;
    margin: 0 auto;
}

h1, h2, h3, p {
    margin: 0px;
    font-family: "Inter", sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}